* {
 font-size: 100%;
 font-family: Arial;
}

h1 {
    color: black;
    text-align: center;
	font-size: 2em;
	font-weight: bold;
}
 
label {
    color: black;
    text-align: left;
	font-size: 1em;
	font-weight: plain;
}

body {
    background-color: white;
}

#form1 {
	height: 450px;
	background: #ffffff;
	float:right;
}

#form2 {
	height: 531px;
	background: #ffffff;
	float:right;
}

#button1, #button3 {
	background-color: LightGreen;
	border-style:none;
	color: white;
	font-size: 1 em;
	font-weight: bold;
	text-align: center;
	margin-left: 20px;
    width: auto;
}

#button2, #button4 {
	background-color: lightCoral;
	border-style:none;
	color: white;
	font-size: 1 em;
	font-weight: bold;
	text-align: center;
	margin-left: 20px;
    width: auto;
}

#divAnalysis1, #divAnalysis2, #divExample {
	width: 550px;
	border-radius: 25px;
    background: #EEE;
    padding: 20px;
}

#canvas1{
	margin-top:1px;
	margin-right:15px;
/* 	height:84vh; */
}


#cy{
	border:3px solid #e7e7e7; 
	border-radius: 0px;
	height:84vh;
	margin-top: 30px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#textfieldGeneSet, 
#selectPathprint,
#selectMSigDBC2CP,
#selectMSigDBC5,
#selectMSigDBH {
	width: 500px;
}

textarea { 
    resize: none; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 500px;
    height: 90px;
}

/* Menu */

#menu
{
	position: absolute;
	top: 2em;
	right: 3em;
}

#menu ul
{
	list-style: none;
}

#menu li
{
	display: inline;
	padding-left: 1.1em;
	margin-left: 1em;
	border-left: solid 1px #000;
}

#menu li.first
{
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
}

#menu li a
{
	color: #000;
	padding: 0.1em;
	text-decoration: none;
	font-weight: bold;
}

#menu li a:hover
{
	text-decoration: underline;
}

input[type="range"]::-ms-tooltip {
	display: none;
}

#divShareButtons
{
	position: absolute;
	bottom:2px;
	padding-left: 42%;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
/* 	position: relative; */
/* 	float:left; */
/* 	padding: 10px 40px; */
    margin: 0px 5px 5px 0px;
    float: right;
	border-radius: 5px;
/* 	font-family: 'Pacifico', cursive; */
/* 	font-size: 25px; */
	color: #000000;
	text-decoration: none;	
}

.light-gray
{
	background-color: #d3d3d3;
	border-bottom: 5px solid #736f6f;
/* 	text-shadow: 0px -2px #161616; */
}

.dark-grey
{
	background-color: #808080;
	border-bottom: 5px solid #757575;
/* 	text-shadow: 0px -2px #BD3E31; */
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

 .selected {
      border: 1px solid #0000ff;
  }

.cybtnShape {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 14px;
  background: #348fd9;
  padding: 4px 14px 4px 14px;
  text-decoration: none;
}

.cybtnShape:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.cybtnView {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 14px;
  background: #a200a2;
  padding: 4px 14px 4px 14px;
  text-decoration: none;
}

.cybtnView:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.cybtnSave {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 14px;
  background: #008080;
  padding: 4px 14px 4px 14px;
  text-decoration: none;
}

.cybtnSave:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.button-tiny {
	font-size:14px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

table.dataTable thead th {
    position: relative;
    background-image: none !important;
    bAutoWidth:false;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
/*     position: absolute; */
/*     top: 12px; */
/*     right: 8px; */
/*     display: block; */
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

.navigation_arrows {
	position: fixed;
    bottom: 4px;
    left: 4px;
    border: 1px solid grey;
	border-radius: 5px;
	padding: 2px;
	background: lightgray;
}
