h1 {
    color: blue;
    text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}
 
label {
    color: black;
    text-align: left;
	font-size: 1.5em;
	font-weight: bold;
}

body {
    background-color: lightblue;
}

#form1 {
	width: 500px;
	height: 700px;
}

#button1 {
	background-color: yellow;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-left: 20px;
    width: auto;
}

#canvas1{
	border:solid gray 1px;
	display: none
}

#canvas2{
	border:solid gray 1px;
	display: none
}

#table1{
	display: none
}

textarea { 
    resize: none; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 450px;
    height: 150px;
}

#cy {
	background-color: red;
	border:solid gray 1px;
	display: none;

}